#header{
    display: grid;
    grid-template-columns: 10% 3% 10% 67% 10%;
    height: 15vh;
    background-color: black;
    color: white;
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
    z-index: 5;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
}
#header-head-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#header-head-form>input{
    color: white;
    width:60%;
    height: 50%;
    background-color: rgb(31, 30, 30);
    border-radius: 50px 0px 0px 50px;
}
#header-head-form>input::placeholder{
    color:white;
    font-size: 100%;
}
#form-div{
    width:5%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid white;
    background-color: rgb(31, 30, 30);
    border-radius: 0px 50px 50px 0px;
}

