#videolistfull{
    width:100%;
}
#videolistfullitem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#videolistfullitem>div{
    margin: 1%;
    width: 22%;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid;
    border-radius: 30px 30px 10px 10px;
}
#videolistfullitem>div:hover{
    width: 24%;
    height: 28vh;
    margin:0;
}